/** color */
$colors: (
  "blue": #1e68fa,
  "black": #1a1e27,
  "red": #f43333,
  "white": #ffffff,
  "gray": #e3e7eb,
  "disabled": #d2d6da,
  "font-disable": #6d7582,
  "font-active": #1a1e27,
);

$colors-hover: (
  "blue": #0034da,
  "black": #353c49,
  "white": #f2f4f6,
);

$heights: (
  "28": 28px,
  "32": 32px,
  "36": 36px,
  "40": 40px,
  "48": 48px,
  "56": 56px,
);

$font-sizes: (
  "14": 14px,
  "18": 18px,
  "20": 20px,
);

$paddings-vertical: (
  "2": 2px,
  "4": 4px,
  "8": 8px,
  "10": 10px,
  "12": 12px,
  "16": 16px,
  "20": 20px,
);
$paddings-horizontal: (
  "10": 10px,
  "12": 12px,
  "16": 16px,
  "20": 20px,
  "32": 32px,
  "40": 40px,
  "48": 48px,
  "112": 112px,
);

$padding-x-base: 12px;
$padding-y-base: 5px;
$font-size-base: 16px;
