/** color */
$color-main: #33f4a3;
$color-main-hover: #15c07e;
$color-black: #1d1d1d;
$color-black-hover: #404040;
$color-red: #f43333;
$color-white: #ffffff;
$color-gray: #e8e8e8;

$padding-x-base: 20px;
$padding-y-base: 12px;

$border-radius-base: 2px;

$font-size-base: 16px;
