@import "../../abstracts/variables";
@import "../../abstracts/mixins";

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: $padding-y-base $padding-x-base;
  border: none;
  cursor: pointer;
  @include transition--background-color;
}

.svg--inner-button--height-24px {
  height: 0px;
  position: relative;
  top: -12px;
  overflow: visible;
}
