@import "../../abstracts/variables";
@import "../../abstracts/mixins";

.button {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: $padding-y-base $padding-x-base;
  border: none;
  cursor: pointer;
  @include transition--background-color;
}

.svg--inner-button--height-24px {
  height: 0px;
  position: relative;
  top: -12px;
  overflow: visible;
}

.button--shape--round {
  border-radius: 50vh;
}

@each $color, $value in $colors {
  .button--background--#{$color} {
    background-color: $value;
    &:hover {
      background-color: map-get($colors-hover, $color);
    }
  }
}

@each $color, $value in $colors {
  .button--color--#{$color} {
    color: $value;
  }
}

.button--has-border {
  border: 1px solid map-get($colors, "gray");
}

.button--is-active {
  color: map-get($colors, "blue");
  border-color: map-get($colors, "blue");
}

.button--is-disabled {
  background-color: map-get($colors, "gray");
  color: map-get($colors, "white");
}

@each $height, $value in $heights {
  .button--height--#{$height} {
    height: $value;
  }
}

@each $font-size, $value in $font-sizes {
  .button--font-size--#{$font-size} {
    font-size: $value;
  }
}

@each $padding-v, $value-v in $paddings-vertical {
  @each $padding-h, $value-h in $paddings-horizontal {
    .button--padding--#{$padding-v}-#{$padding-h} {
      padding: $value-v $value-h;
    }
  }
}
