@import "../../abstracts/variables";

.nav-list {
  display: flex;
}

.nav-list-item {
  display: flex;
  flex-direction: column;
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 16px;
  width: 120px;
  height: 40px;
  align-items: center;
  color: map-get($colors, "font-disable");
  transition: color 0.25s;
  .nav-item-text {
    flex: 1;
    line-height: 37px;
    text-align: center;
  }
  .nav-under-bar {
    width: 0px;
    height: 3px;
    background-color: map-get($colors, "blue");
    transition: width 0.25s;
  }
  &:hover {
    color: map-get($colors, "font-active");
    .nav-under-bar {
      width: 120px;
    }
  }
}
