@import "../abstracts/variables";

* {
  box-sizing: border-box;
  font-size: $font-size-base;
}

header {
  display: flex;
  border-bottom: 1px solid map-get($colors, "gray");
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
