@import "../abstracts/variables";

* {
  box-sizing: border-box;
  font-size: $font-size-base;
}

.shape--round {
  border-radius: 50vh;
}

@each $color, $value in $colors {
  .background--#{$color} {
    background-color: $value;
    &:hover {
      background-color: map-get($colors-hover, $color);
    }
  }
}

@each $color, $value in $colors {
  .text-color--#{$color} {
    color: $value;
  }
}

.has-border {
  border: 1px solid map-get($colors, "gray");
}

.is-active {
  color: map-get($colors, "blue");
  border-color: map-get($colors, "blue");
}

.is-disabled {
  background-color: map-get($colors, "gray");
  color: map-get($colors, "white");
}

@each $height, $value in $heights {
  .height--#{$height} {
    height: $value;
  }
}

@each $font-size, $value in $font-sizes {
  .font-size--#{$font-size} {
    font-size: $value;
  }
}
